/*Inicialmente se elige un margen default para todo y un paddimg default*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*titulos h1 con font size más grande que el resto de color blanco tiza porque van sobre azul oscuro*/
h1 {
  font-family: Open+sans-serif;
  color:  #EFEFEF;
  font-size: 4vw;
}

/*titulos h2 algo mas pequeños de color azul para la página principal */
h2 {
  font-family: Open+sans-serif;
  color: #24B8CE;
  font-size: 2vw;
  font-weight: 600;
}

/*Subtitulo de la breve explicación*/
h4 {
  font-family: Open+sans-serif;
  color:#2D85E5;
  font-size: 1.5vw;
}

/*características del pie de pagina*/
footer {
  display:block;
  margin:0;
  padding:2em;
  border:#12355B;
  font-family: Open+sans-serif;
  color:  #24B8CE;
  font-size: 1.5vw;
  background-image: linear-gradient(to left, rgba(18,53,91,0), rgba(18,53,91,1));  
}
/*para footer pagina para animacion */
.grid-effect {
  width:100%;
  display:grid;
  grid-auto-flow: column;
}

.grid-effect__item1 {
  width:40%;
}

.grid-effect__item2 {
  align-self: center;
  justify-self: right;
  width:auto;
  animation-name: jump;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;  
}
/* fin para footer pagina principal*/

/*margenes filtros*/
.container-filtros {
  margin:10px;
  padding: 15px;
}

/*imagenes (para que se comporten bien)*/
img {
  max-width: 100%;
  height:auto;
}

/*características de los body*/
body {
  font-family: Open+sans-serif;
  font-size: 1.5vw;
  color: #12355B;
  background-color: #EFEFEF;
}

/*codigo para el menu de navegación copiado del ejercicio 5 de la clase complementaria
 y adecuado al estilo del sitio*/
ul {
  background-color: #12355B;
  margin:auto;
  list-style: none; 
  padding: 0;
}

.padre { 
  margin:auto;
  width:100%;
  font-size: 1.2vw;
  display: flex;
}

.padre > li {
  flex-grow: 1;
  position: relative; /* necesario para submenu */
}

nav a {
  display: block;
  padding: 5px;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open+sans-serif;
  font-size: 1.2;
  color: #91DBE6;
}

ul ul {
  margin:auto;
  position: absolute;
  background-color: #12355B;
  width: 100%;
  display: none;
}

ul li:hover ul {
  display: block;
}

a:hover {
  color: red;
}
/* fin bloque del código para el menu*/

/*codigo super-grid*/
.super-grid {
  margin:0;
  border:0;
  display: grid;
  width: 100%;
  gap: 0;
  align-content: stretch;
  justify-content:stretch;
  grid-auto-flow:column;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns:auto;
  padding: 0;  
}

.super-grid__item1 {
  width:100%;
  height:auto;
  border:0;
}

.super-grid__item2 {
  width:100%;
  height:auto;
  border:0;
}

.super-grid__item1 .super-grid__item2 {
  width:100%;
  height:auto;
  border:0;
}

.super-grid__item3 {
  width: 100%;
  height:auto;
  border:5px;
  margin:5px;
  padding:15px;
  font-size: 1.5vw;
  align-self: center;
  text-align: justify;
  font-style: 900;
  color:#12355B;  
  background-color: #EFEFEF;
  animation-name: reveal;
  animation-duration: 8s; 
}

.super-grid__item4{
  width: 100%;
  height:auto;
  border:0;
  margin:0;
  background-color: #EFEFEF;
}

.super-grid__item5 {
  width:100%;
  height:auto;
  border:0;
  background-image: linear-gradient(to left, rgba(18,53,91,0), rgba(18,53,91,1));
}
/*finaliza codigo super-grid*/

/*Codigo Header de la pagina principal*/
.header-line-1 {
  margin:0;
  border:0;
  display: grid;
  height:fit-content;
  gap: 0;
  padding:0;
  align-content: center;
  justify-content:space-between;
  grid-template-columns:2fr 4fr 4fr 2fr;
  border-style: 0;
  background-image: linear-gradient(to left, rgba(18,53,91,0), rgba(18,53,91,1));
}

.header-line-1__title  {
  justify-self: left;
  align-self: center;
}

.header-line-1__image  {
  justify-self: center;
  align-self: center;
}

.header-line-1__idioma  {
  align-self: center;
}

.header-line-1__exit  {
  justify-self: center;
  align-self: center;
}
/*fin codigo header de pagina principal*/

/*grid de la sección main de la página principal*/
.container {
  display:block;
  font-family: Open+sans-serif;
}

.grid1-container {
  width: 100%;
  margin:5px;
  gap:5px;
  display: grid;
  object-position: bottom;
  align-items:center;
  border-style: none;
  grid-template-columns: auto auto auto auto;
  grid-template-rows:auto;
  background-color: #EFEFEF;
  padding: 5px;
  font-size:1.2vw;  
}

.grid1-container__item__necesito {
  display: none;
  position: absolute;
  background-color: #91DBE6;
  width:auto;
  box-shadow: 5px 8px 16px 1px grey;
  padding: 12px 16px;
}

.grid1-container__item1__necesito:hover .grid1-container__item__necesito {
  display: block;
}

.grid1-container__item__circle {
  display: none;
  position: absolute;
  width: auto;
  background-color: #91DBE6;
  box-shadow: 5px 8px 16px 1px grey;
  padding: 5px 5px;
}

.grid1-container__item2__circulo:hover .grid1-container__item__circle {
  display: block;
}

.grid1-container__item__ofrezco {
  display: none;
  position: absolute;
  background-color: #91DBE6;
  width: auto;
  box-shadow: 5px 8px 16px 1px grey;
  padding: 12px 16px;
}

.grid1-container__item3__ofrezco:hover .grid1-container__item__ofrezco {
  display: block;
}

.grid1-container__item1__necesito__texto {
	position: relative;
  align-self: center;
  padding:0;
  margin:0;
  width:auto;
  font-size: 2vw;
  text-align: center;
  font-style: 600;
  color:red;
}

.grid1-container__item1__necesito__texto:hover {
  transform:scale(1.5,1.5)
}

.grid1-container__item3__ofrezco__texto {
	position: relative;
  align-self: center;
  padding:0;
  margin:0;
  width:auto;
  font-size: 2vw;
  text-align: center;
  font-style: 600;
  color:#3930B1;
}

.grid1-container__item4__texto {
	position: relative;
  align-self: center;
  padding:0;
  margin:0;
  width:auto;
  font-size: 2vw;
  text-align: center;
  font-style: 600;
  color:#24B8CE;
}

.grid1-container__item3__ofrezco__texto:hover {
  transform:scale(1.5,1.5)
}

.grid1-container__item4 {
  display:block;
}
/*fin grid seccion main de página principal*/

/*caracteristicas de la página acerca de nosotros*/
.about-container 
{
  display:grid;
  margin:0;
  border:0;
  display: grid;
  height:fit-content;
  gap: 0;
  padding:0;
  align-content: center;
  justify-content:space-between;
  grid-template-columns:1fr 1fr;
  border-style: 0;
}

.about-container__item {
	width: 100%;
	height: auto;
  justify-content: center;
}

.about-container__item {
	float: left;
	position: relative;
	overflow: hidden;
}

.about-container__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.about-container__item__info {
  /* forma de centrar el texto visto en el after class del lunes 13-09 */
	position: relative;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
  padding:10px;
  margin:5px;
  border:5px;
  width:auto;
  text-align: justify;
  font-style: 600;
  color:#12355B;
}

.about li {
  display: block;
  background-color: #EFEFEF;
}

.about ul ol {
  font-size: 1.5vw;
  background-color: #EFEFEF;
}

.about {
  font-size: 1.5vw;
 }
/*finaliza seccion pagina acerca de nosotros*/

/* codigo grid paginas no principales*/
.item1 {
  grid-area: barra;
}

.item2 {
  grid-area: header;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: footer;
}

.grid-stat {
  display:grid;
  width: 100%;
  align-content:space-between;
  grid-auto-flow:row;
  grid-template-areas: 
    'barra'
    'header'
    'main'
    'footer';
}
/*fin codigo grid paginas no principales*/

/* Header Modal Explicativo*/
.header-modal {
  width:100%;
  height:auto;
  border:0;
  background-image: linear-gradient(to left, rgba(18,53,91,0), rgba(18,53,91,1));
}

/* Texto Modal Explicativo*/
.texto-modal {
  margin:5px;
  border: 5px;
  padding:10px;
}

/*para listados*/
.espacio-listado {
  margin: 2em;
}
 .container__filtros{
   margin:1em;
   gap:2em;
 }
/*fin para listados*/

/*características de los formularios*/
.container__form__botones__reset {
  margin:15px;
  border-style: groove;
  text-transform: uppercase;
  font-weight: bold;
  color: darkslategrey;
  background-color: #EEEEEE;
} 

.container__form__botones__submit {
  margin:15px;
  border-style:groove;
  text-transform: uppercase;
  font-weight:bold;
  color: #2D85E5;
  background-color: #EEEEEE; 
}

.container__form {
  width:auto;
  gap:5px;
  align-content: center;
  color: #12355B;
  font-size: 1.5vw;
  font-weight: 400;
}

.container__form__item {
  font-size: 1.5vw;
  padding: 5px;
  margin: 5px;
  border: 5px;
}

.container__form__item__input {
  display:block;
  width: 40%;
  min-height: fit-content;
  border: 3px;
  margin: 3px;
  padding: 5px;
  border-color: #12355B;
  border-style:solid;
}

.container__form__referencias {
  display: block;
  border: 3px;
  padding: 5px;
  margin:3px;
  min-height: fit-content;
}

.container__form__descripcion {
  display:block;
  border:3px;
  padding:5px;
  margin: 3px;
  min-height: fit-content;
}

.container__form__justifique {
  display:block;
  border:3px;
  padding:5px;
  margin: 3px;
  min-height: fit-content;
}

textarea {
  border: 3px;
  border-color: #12355B;
  border-style:solid;
}
/* fin característica de los formularios*/

/*características de las tablas*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border: 3px solid #12355B;
    color: #12355B;
    background-color: #91DBE6;
    text-align: center;
    padding: 8px;
  }

  td {
    border: 2px solid #12355B;
    text-align: left;
    font-size:1.5vw;
    padding: 8px;
  }
/*fin caracteristica de las tablas*/

/*grid-graficos*/
.grid-graficos__image1 {
  width:auto;
  grid-area: uno;
}

.grid-graficos__image2 {
  width: auto;
  grid-area: dos;
}

.grid-graficos__image3 {
  width: auto;
  grid-area: tres;
}

.grid-graficos__image4 {
  width: auto;
  grid-area: cuatro;
}

.grid-graficos {
  width:100%;
  display:grid;
  justify-content: space-evenly;
  align-content:space-around;
  grid-auto-flow: row;
  grid-template-areas: 
    'uno  dos'
    'tres cuatro';
}
/* fin grid graficos*/

.grid-banner__image1 {
  width:auto;
  grid-area: one;
}

.grid-banner__image2 {
  width: auto;
  grid-area: two;
}

.grid-banner__image3 {
  width: auto;
  grid-area: three;
}

.grid-banner__image4 {
  width: auto;
  grid-area: four;
}

.grid-banner__image5 {
  width: auto;
  grid-area: five;
}

.grid-banner {
  width:100%;
  display:grid;
  justify-content: space-evenly;
  justify-items:right;
  align-content:center;
  grid-auto-flow:column;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto;
}

/*botones*/
button {
  color: #12355B;
  background-color: #91DBE6;
  text-transform: uppercase;
  font-weight: bold;
}

/*modal-container class*/
.modal-container {
  border-color: #2D85E5;
  border-style:ridge;
}

/*userid class*/
.container__w400 {
  font-weight:400;
  color:#12355B;
  margin:5px;
  padding:5px;
}

/*animación del circulo en sección main de pagina principal*/
img#circle {
  animation-name: iTurn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes iTurn {
  0%	{transform: rotate(0deg);}
  10% 	{transform: rotate(36deg);}
  20%	{transform: rotate(72deg);}
  30%   {transform: rotate(108deg);}
  40%	{transform: rotate(144deg);}
  50%   {transform: rotate(180deg);}
  60%	{transform: rotate(216deg);}
  70%   {transform: rotate(252deg);}
  80%	{transform: rotate(288deg);}
  90%   {transform: rotate(334deg);}
  100%	{transform: rotate(360deg);}
}

/* animación texto keyframes*/
@keyframes reveal {
	0%   {opacity:0;}
  10%  {opacity:0.2;}
  25%  {opacity:0.4;}
  50%  {opacity:0.6;}
  75%  {opacity:0.8;}
  100% {opacity:1;}
}

/* animacion ranita*/
@keyframes jump {
  10% {justify-self:left;}
  20% {transform: matrix(1, -0.2, 0, 1, 1, 1);}
  40% {transform: matrix(1, 0, -0.2, 1, 1, 1);}
  60% {transform: matrix(1, 0, 0, 1, 1, 1);} 
  80% {transform: matrix(1, 0, -0.2, 1, 1, 1);}  
  100% {transform: matrix(1, 0, 0, 1, 1, 1);}
}

/*media queries*/
@media only screen and (max-width:400px) {
  .grid1-container__item4 {
    display:none;
  }

  .grid-effect__item2 {
    display:none;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .grid1-container__item4 .grid-effect__item2 {
    display:block;
  }  
}

@media only screen and (mix-width: 961px) {
  .grid1-container__item4 .grid-effect__item2 {
    display:block;
  }  
}