$color-titulos-h1-h2:#24B8CE;
$color-titulo-h4:#2D85E5;
$background-default:#EFEFEF;
$color-default:#12355B;
$text-color:#12355B;
$gradiente-azul: linear-gradient(to left, rgba(18,53,91,0), rgba(18,53,91,1));
$link-hover:red;
$color-fila-titulos-tabla:#24B8CE;
$color-fondo-tipoa:#2D85E5;
$color-fondo-tipob:#FFAC44;
$tipografia:trebuchet;
$tipografiaotra: Open+sans-serif;